bak/
logs/
target/
*.classpath
.pydevproject
.settings/
.idea/
/UserCenter.*
src/test/resources/*key
src/test/resources/*jks
src/test/resources/*crt
tomv
data
conf
src/test/resources/testMoreThan8M.jpg
.DS_Store
classes/
update_uc.sh
update_uc_global.sh
